.app--title {
    margin: 20px 0 10px;
    text-align: center;
    color: #fff;
}

.app--container {
    width: 88%;
    margin: 0 auto;
}

.app--news {
    text-align: right;

    & a {
        color: #fff;
    text-decoration: none;
    }
}