<div class="app--timer" *ngIf="timer">
    <div>
        <p class="app--timer-p">
            {{timer['days']}}
        </p>
        <p>Days</p>
    </div>
    <div>
        <p class="app--timer-p">
            {{timer['hours']}}
        </p>
        <p>Hours</p>
    </div>
    <div>
        <p class="app--timer-p">
            {{timer['minutes']}}
        </p>
        <p>Mins</p>
    </div>
    <div>
        <p class="app--timer-p">
            {{timer['seconds']}}
        </p>
        <p>Secs</p>
    </div>
</div>