<a class="app--link" routerLink="/">&laquo; back</a>
<div class="app--container">

    <div class="app--loading" *ngIf="isLoading">
        <i class="fas fa-circle-notch fa-spin m-2"></i>
      </div>

    <div *ngIf="!isLoading">
        <div class="app--news" *ngFor="let news of newsList; let i = index">
            <div class="app--news-img">
                <img src="assets/img/add.jpg" alt="photo" style="height: 420px; width: 100%;">
            </div>
            <div class="app--news-title">
                {{ news.title }}
            </div>
            <div class="app--news-content">
                {{ news.content }}
            </div>
            
        </div>
    </div>
    
</div>

